<?php
const MYSQL_HOST = '127.0.0.1';
const MYSQL_USER = 'root';
const MYSQL_PASS = '';
const MYSQL_DABA = 'view_counter';

$link = mysql_connect(MYSQL_HOST, MYSQL_USER, MYSQL_PASS);
if(!$link)
	die('There was a database error during setup. Please try again later.'.mysql_error());
mysql_select_db(MYSQL_DABA);

